body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} /*Este bloque de codigo sirve para definir la caligra */

form {
    margin-bottom: 20px;
}/*Esto es para añadirle un margen al formulario */

label {
    display:  block;
    margin-bottom: 10px;
}/*Cada etiqueta del label comenzara en una linea diferente*/

input[type ="number"],input[type="text"]{
    width: 100px;
    margin-bottom: 10px;
}/*Se le agrega la margen a los input cuando el usuario ingrese datos de tipo texto y numericos*/

select{
    width: 150px;
    margin-bottom: 10px
}/*Se le agrega un margen y un espacio de 150 pixeles en la etiqueta select en el documento de html*/